/* ----- Grid layout -----*/
:root {
	--block-height: 500px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px var(--block-height) var(--block-height) var(--block-height) 80px;
    grid-template-areas:
    "header header"
    "control dashboard"
    "files changes"
    "index log"
    "footer footer";
  }

header {
    grid-area: header;
}

#controls-container {
    grid-area: control;
}

#files-container {
    grid-area: files;
}

#changes-container {
    grid-area: changes;
}

#index-container {
    grid-area: index;
}

#log-container {
    grid-area: log;
}

#dashboard-container {
    grid-area: dashboard;
}

footer {
    grid-area: footer;
}

/* ----- Flexbox layout -----*/
.cell {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.block-list li {
    display: flex;
    align-items: center;
}

#dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#statistics-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#controls-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}