/* ----- Grid layout -----*/
:root {
    --block-height: 500px;
}

.container {
    display: grid;
    grid-template-rows: 120px var(--block-height) var(--block-height) var(--block-height) var(--block-height) var(--block-height) var(--block-height) 80px;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "control"
    "dashboard"
    "files"
    "changes"
    "index"
    "log"
    "footer";
}

header {
    grid-area: header;
}

#controls-container {
    grid-area: control;
}

#files-container {
    grid-area: files;
}

#changes-container {
    grid-area: changes;
}

#index-container {
    grid-area: index;
}

#log-container {
    grid-area: log;
}

#dashboard-container {
    grid-area: dashboard;
}

footer {
    grid-area: footer;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px var(--block-height) var(--block-height) var(--block-height) 80px;
        grid-template-areas:
    "header header"
    "control dashboard"
    "files changes"
    "index log"
    "footer footer";
    }
}

/* ----- Flexbox layout -----*/
.cell {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.block-list li {
    display: flex;
    align-items: center;
}

#dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#statistics-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#controls-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}